@model MedicalSystemApp.Models.Prescription

@{
    ViewData["Title"] = "Prescription Details";
}

<h1 class="mb-3">Prescription Details</h1>

<div class="card mb-4">
    <div class="card-body">
        <h4 class="card-title">@Model.MedicationName</h4>
        <dl class="row">
            <dt class="col-sm-3">Medication Name</dt>
            <dd class="col-sm-9">@Model.MedicationName</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Date Prescribed</dt>
            <dd class="col-sm-9">@Model.DatePrescribed.ToShortDateString()</dd>

            <dt class="col-sm-3">Patient ID</dt>
            <dd class="col-sm-9">@Model.PatientId</dd>
        </dl>
    </div>
</div>

<div class="mb-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

<!-- Associated Data -->
@if (Model.Patient != null)
{
    <h4>Patient Information</h4>
    <ul class="list-group mb-3">
        <li class="list-group-item">
            <strong>Name:</strong> @Model.Patient.FirstName @Model.Patient.LastName
        </li>
        <li class="list-group-item">
            <strong>OIB:</strong> @Model.Patient.OIB
        </li>
        <li class="list-group-item">
            <strong>Date of Birth:</strong> @Model.Patient.DateOfBirth.ToShortDateString()
        </li>
        <li class="list-group-item">
            <strong>Gender:</strong> @Model.Patient.Gender
        </li>
    </ul>
}
