@model IEnumerable<MedicalSystemApp.Models.Prescription>

@{
    ViewData["Title"] = "Prescriptions - Index";
}

<h1>Prescriptions</h1>

<table class="table">
    <thead>
        <tr>
            <th>MedicationName</th>
            <th>Description</th>
            <th>DatePrescribed</th>
            <th>PatientId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MedicationName</td>
                <td>@item.Description</td>
                <td>@item.DatePrescribed.ToShortDateString()</td>
                <td>@item.PatientId</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New</a>
